<!DOCTYPE html>
<html>
  <body>
    <p>Has solicitado restablecer tu contraseña.</p>
    <p>Haz clic en el siguiente enlace para elegir una nueva:</p>
    <p><a href="{{resetLink}}">Restablecer contraseña</a></p>
    <p>Si no lo solicitaste, ignora este mensaje.</p>
    <p>Saludos,<br/>Equipo de Inspecciones</p>
  </body>
</html>
