<!-- src/email/templates/welcome.hbs -->
<!DOCTYPE html>
<html>
  <body>
    <p>Hola {{firstName}},</p>
    <p>¡Bienvenido al sistema de inspecciones de la Municipalidad de Santa Cruz!</p>
    <p>Con tu cuenta podrás crear y gestionar formularios de inspección.</p>
    <p>Saludos,<br/>Equipo de Inspecciones</p>
  </body>
</html>
